// Antes
@import "../node_modules/bootstrap/scss/bootstrap";


/*Colores*/
$burdeos: #562134;
$negro: #111;
$blanco: #fff;

$body-bg: $negro;
$body-color: $blanco;

$menu-color: rgba(255, 255, 255, 0.533);
$blur-intensity : 50px;

$colores-personalizados: (
    "color-principal": $burdeos,
    "color-oscuro": $negro,
    "color-claro":$blanco
);
$theme-colors: map-merge($theme-colors, $colores-personalizados);

// HERO DEGRADADO
$cabecera: linear-gradient(165deg, $negro 10%, $burdeos 40%, $negro 63%);


/*Fuentes*/
$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-family-hero: 'Aupa', sans-serif;

$font-size-base: 1rem !default; // 16px
$font-size-lg: $font-size-base * 1.25 !default; // 20px
$font-size-sm: $font-size-base * .875 !default; // 14pxs

$line-height-hero: 0.8; // Altura de línea para título Nafarroa Urban Fest

$hero-font-size: clamp(1rem, 14vw, 210px); 

// Tamaños fuentes
$custom-font-sizes: (
  7: 2.5rem,
  8: 2rem,
  9: 1.75rem,
  10: 1.5rem,
  11: 1.25rem
);
@each $size, $value in $custom-font-sizes {
  .fs-#{$size} {
    font-size: $value !important;
  }
}
// Fuente personalizada
@font-face {
    font-family: 'Aupa';
    src: url('../assets/fonts/Aupa-Bold.otf') format('opentype'),
        url('../assets/fonts/Aupa-Bold.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;
}
