// Custom.scss
@use "../node_modules/@fortawesome/fontawesome-free/scss/variables"
with ($font-path: "../assets/webfonts"
);

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import "custom-variables.scss";

@import "../node_modules/bootstrap/scss/bootstrap";

/*Menú de navegación*/
.bg-diagonal-gradient {
    padding: 0.5rem;
    background: $cabecera;
    color: #fff;
    min-height: 95vh;
    max-height: 80vh;
    margin-top:-50px;
}

// Clases personalizadas
.ff-aupa {
    font-family: $font-family-hero;
}

.fs-hero {
    font-size: $hero-font-size;
    line-height: 0.8;
    margin-top: 6rem;
}

.header-hero {
    text-align: left;
    margin-top: 6rem;
    margin-left: 5%;
    font-size: $hero-font-size;
    font-family: $font-family-hero;
}

.cristal {
    background-color: $menu-color;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 50px;
    padding: 0.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.idioma {
    background-color: $menu-color;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 30px;
    min-width: 1rem;
    top: -47px !important;
    left: -6px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/*OCULTAR IDIOMA Y SE SUPORPONE EL MENU IDIOMA*/
#idioma.oculto {
    opacity: 0;
}

.activado {
    color: white;
}

#idioma .dropdown-toggle.oculto {
    opacity: 0;
}

.no-background {
    background: transparent !important;
    box-shadow: none !important;
}

.selector-idioma {
    .btn {
        background-color: $menu-color;
        border-radius: 50px;
        backdrop-filter: blur($blur-intensity);
        -webkit-backdrop-filter: blur($blur-intensity);
        color: white;
    }

    .dropdown-menu {
        background-color: $menu-color;
        backdrop-filter: blur($blur-intensity);
        -webkit-backdrop-filter: blur($blur-intensity);
        border-radius: 50px;
        padding: 0.5rem 0;
        min-width: 100%;

        .dropdown-item {
            color: white;
            padding: 0.3rem 1rem;
            font-weight: bold;
        }
    }
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: transparent !important;
    color: #fff !important;
}

.sticky-separado {
    top: 20px;
    margin-top: 0;
}

.btn-xl {
    padding: 1rem 2rem;
}


::selection {
    background-color: $menu-color;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

}

.img-artistas img {
    filter: grayscale(100%);
    transition: filter 0.8s ease-in-out;
}

.img-artistas:hover img {
    filter: grayscale(0%);
}

//cursor
.c-pointer {
    cursor: pointer;
}

// animaciones
.menu-animado .nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.menu-animado .nav-link::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 50%;
    bottom: 8px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.menu-animado .nav-link:hover::after {
    width: 40%;
}

.iconos-plataformas i {
    transition: transform 0.3s ease, color 1.5s ease;
}

/* Spotify */
.iconos-plataformas .fa-spotify:hover {
    transform: scale(1.1) rotate(2deg);
    color: #1DB954;
}

/* YouTube */
.iconos-plataformas .fa-youtube:hover {
    transform: scale(1.1) rotate(2deg);
    color: #FF0000;
}

/* Apple Music */
.iconos-plataformas .fa-itunes-note:hover {
    transform: scale(1.1) rotate(2deg);
    color: #A2AAAD;
}



@media (max-width: 1000px) {
    .bg-diagonal-gradient {
        min-height: 60vh;
    }
}

@media (max-width: 576px) {
    .bg-diagonal-gradient {
        min-height: auto;
    }
}